<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%- include('partials/nav.ejs') -%>

    <center>
        <h1>This is Contact page!</h1>

        <strong>Name:</strong>
        <p> <%= qs.name %> </p>

        <strong>Department:</strong>
        <p> <%= qs.dept %> </p>

        <br><br>
<form method="POST" action="/contact">
    <label for="name">Name:</label> <br>
    <input type="text" name="name" value="<%= qs.name %>" required> <br>
    <label for="dept">Department:</label> <br>
    <input type="text" name="dept" value="<%= qs.dept %>" required> <br>
    <label for="email">Email:</label> <br>
    <input type="email" name="email" value="<%= qs.email %>" required> <br><br>
    <button type="submit">Submit</button>
</form>

    </center>


    
</body>
</html>